body {
	background-color: rgb(255 255 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
	color: rgb(15 15 15);
	font-family: Lora, 'Playfair Display', Georgia, serif;
	margin: 0;
	padding: 0;
}

h1 { /* Bunch of Bunk */
	font-size: 2.5rem;
	margin: 20px 20px 10px;
	text-align: center;
}

h2 { /* We rock! */
	border-bottom: 1px solid;
	border-bottom-color: rgb(220 220 220 /100%);
	font-size: 1.1rem;
	font-style: italic;
	font-weight: lighter;
	margin: 10px 20px 20px;
	padding-bottom: 10px;
	text-align: center;
}

div#page {
	display: grid;
	grid-template-columns: 2fr 7fr;
	margin: 10px 20px 40px;
}

@media screen and (width <= 600px) {
	div#page {
		display: block;
	}
} 

div#footer {
	display: grid;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 0.8rem;
	grid-template-columns: 1fr 1fr;
	margin: 10px 20px 40px;
	padding: 21px;
}

@media screen and (width <= 600px) {
	div#footer {
		display: block;
	}
}

div#auteursrechten, div#copyright {
	background-color: rgb(255 255 255 / 30%);
	border-radius: 14px;
	margin: 7px;
	padding: 7px;
}

div#auteursrechten h3, div#copyright h3 {
	border-bottom: 2px solid;
	border-bottom-color: rgb(215 85 15);
	display: inline;
}

div#sidebar {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

div#sidegray {
	background-color: rgb(245 245 245 / 95%);
	border-radius: 14px;
	padding: 14px;
}

div#socials {
	border-top: 1px solid;
	border-top-color: rgb(220 220 220 /100%);
	margin-top: 14px;
	padding-top: 14px;
	text-align: center;
}

div#muzikantenbank {
	border-top: 1px solid;
	border-top-color: rgb(220 220 220 /100%);
	font-size: 0.8rem;
	font-style: italic;
	margin-top: 14px;
	padding-top: 14px;
}

div#content {
	background-color: rgb(245 245 245 / 30%);
	border-radius: 7px;
	margin-left: 21px;
	padding: 7px 7px 7px 21px;
}

div#content h1, div#content h2, div#content h3 {
	margin: 0 0 21px;
	padding: 0;
	text-align: left;
}

div#content h1 {
	font-size: 2rem;
}

div#content h2 {
	border: 0 none;
	font-size: 1.3rem;
	font-style: normal;
	font-weight: bold;
}

div#content p {
	line-height: 1.5;
	margin: 0 0 42px;
	padding: 0;
}

div#content ol, div#content ul {
	line-height: 2;
	margin-bottom: 42px;
}

div#pagenotfound {
	color: rgb(115 115 115);
	font-size: 0.6rem;
	font-style: italic;
	text-align: right;
}

div#by {
	background-color: rgb(245 245 245 / 95%);
	border-radius: 7px;
	top: 10px;
	color: rgb(125 125 125 / 65%);
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 0.7rem;
	padding: 7px;
	position: absolute;
	right: 10px;
}

a {
	color: rgb(115 25 15);
	text-decoration: none;
}

h1 a {
	color: rgb(15 15 15);
}

a:hover {
	color: rgb(215 85 15);
}

div#navigation a {
	color: rgb(15 15 15);
}

div#content a {
	font-weight: bold;
}

div#navigation a:hover {
	color: rgb(215 85 15);
}
