body {
	background-color: rgb(255 255 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
	color: rgb(15 15 15);
	font-family: serif;
	margin: 0;
	padding: 0;
}

h1 { /* Bunch of Bunk */
	font-family: serif;
	margin: 20px 20px 10px;
	text-align: center;
}

h1 a {
	color: rgb(15 15 15);
	text-decoration: none;
}

h1 a:hover {
	color: rgb(215 85 15);
	text-decoration: none;
}

h2 { /* We rock! */
	border-bottom: 1px solid;
	border-bottom-color: rgb(220 220 220 /100%);
	font-family: serif;
	font-style: italic;
	font-weight: lighter;
	margin: 10px 20px 20px;
	padding-bottom: 10px;
	text-align: center;
}

div#page {
	display: grid;
	grid-template-columns: 2fr 4fr 1fr;
	margin: 10px 20px 40px;
	width: 100%;
}

@media screen and (max-width: 600px) {
	div#page {
		display: block;
	}
} 

div#footer {
	background-color: rgb(220 220 220 / 95%);
	bottom: 10px;
	color: rgb(25 35 45 / 45%);
	font-size: small;
	padding: 7px;
	position: absolute;
	right: 10px;
}

div#footer a {
	color: rgb(25 35 45 / 90%);
    text-decoration: none;
}

div#footer a:hover {
	color: rgb(125 135 145 / 35%);
    text-decoration: underline;
}
