body {
	background-color: rgb(255 255 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1 { /* BunchOfBunk.nl */
	margin: 10px 0 0;
	text-align: center;
}

.link-button {
	border: 1px solid rgb(0 0 0 / 10%);
	color: rgb(25 35 45 / 90%);
	display: inline-block;
	font-weight: bold;
	padding: 2px 5px;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    border-radius: 4px;
}

h1 span.link-button {
	background-color: rgb(220 220 220 / 95%);
	padding: 4px 50px;
}

div#footer {
	background-color: rgb(220 220 220 / 95%);
	bottom: 10px;
	color: rgb(25 35 45 / 45%);
	font-size: small;
	padding: 7px;
	position: absolute;
	right: 10px;
}

div#footer a {
	color: rgb(25 35 45 / 90%);
    text-decoration: none;
}

div#footer a:hover {
	color: rgb(125 135 145 / 35%);
    text-decoration: underline;
}
